export(deleteFiles)
S3method(deleteFiles, redcapDbConnection)
S3method(deleteFiles, redcapApiConnection)

export(exportArms)
S3method(exportArms, redcapDbConnection)
S3method(exportArms, redcapApiConnection)

export(exportEvents)
S3method(exportEvents, redcapDbConnection)
S3method(exportEvents, redcapApiConnection)

export(exportFiles)
S3method(exportFiles, redcapDbConnection)
S3method(exportFiles, redcapApiConnection)

export(exportInstruments)
S3method(exportInstruments, redcapDbConnection)
S3method(exportInstruments, redcapApiConnection)

export(exportMappings)
S3method(exportMappings, redcapDbConnection)
S3method(exportMappings, redcapApiConnection)

export(exportMetaData)
S3method(exportMetaData, redcapDbConnection)
S3method(exportMetaData, redcapApiConnection)

export(exportRecords)
S3method(exportRecords, redcapDbConnection)
S3method(exportRecords, redcapApiConnection)

export(exportReports)
S3method(exportReports, redcapDbConnection)
S3method(exportReports, redcapApiConnection)

export(exportUsers)
S3method(exportUsers, redcapDbConnection)
S3method(exportUsers, redcapApiConnection)

export(exportVersion)
S3method(exportVersion, redcapDbConnection)
S3method(exportVersion, redcapApiConnection)

export(importFiles)
S3method(importFiles, redcapDbConnection)
S3method(importFiles, redcapApiConnection)

export(importRecords)
S3method(importRecords, redcapDbConnection)
S3method(importRecords, redcapApiConnection)

export(recodeCheck)

export(redcapConnection)

export(redcapFactorFlip)

export(redcapProjectInfo)
S3method(redcapProjectInfo, redcapDbConnection)
S3method(redcapProjectInfo, redcapApiConnection)

importFrom("httr", POST)
importFrom("httr", upload_file)
importFrom("chron", times)
importFrom("stringr", str_split_fixed)
importFrom("Hmisc", label.default)
importFrom("Hmisc", label.data.frame)
importFrom("Hmisc", 'label<-.default')
importFrom("Hmisc", 'label<-.data.frame')
importFrom("Hmisc", '[.labelled')
importFrom("Hmisc", print.labelled)

useDynLib(redcapAPI,.registration=TRUE)
