export(redcapConnection)

export(exportMetaData)
S3method(exportMetaData, redcapDbConnection)
S3method(exportMetaData, redcapApiConnection)

export(exportRecords)
S3method(exportRecords, redcapDbConnection)
S3method(exportRecords, redcapApiConnection)

export(exportUsers)
S3method(exportUsers, redcapDbConnection)
S3method(exportUsers, redcapApiConnection)

export(importRecords)
S3method(importRecords, redcapDbConnection)
S3method(importRecords, redcapApiConnection)

export(recodeCheck)

import(RCurl)
importFrom("chron", times)
importFrom("plyr", round_any)

useDynLib(redcap,.registration=TRUE)
